<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442948013788-pirqbc7g6k3s5tqtejmk0k5heat5o9r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442948013788-pirqbc7g6k3s5tqtejmk0k5heat5o9r3</string>
	<key>API_KEY</key>
	<string>AIzaSyCyFtWG9GbByXXoXI9mezBkUhNR2vg5DCU</string>
	<key>GCM_SENDER_ID</key>
	<string>442948013788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.iamshahrukh.dailyexpensesapp</string>
	<key>PROJECT_ID</key>
	<string>daily-expenses-app-5db4a</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-expenses-app-5db4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442948013788:ios:0efc724ef0d41208232e19</string>
</dict>
</plist>